.clearfix:after,
.clearfix:before {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

.sub_line_div {
    width: 850px;
    height: 550px;
    margin: 10px auto 0;
    border: 1px solid #000;
}